@media screen and (max-width: 1400px){
    .profile{
        height: 83vh;
        margin-bottom: 6rem;
    }

    
}

@media  screen and(max-width: 1200px) {
    .hero{
        display: none;
    }

    .hamburger{
        display: flex;
    }
    
}
    
